.main {
  text-align: center;
  background: url("http://http://img0.mxstatic.com/wallpapers/0f458fce470938f1695a8f9865485f17_large.jpeg") no-repeat;
	background-position: center center;
	background-size: cover;
}

.main .container {
  position: relative;
}

.main h1 {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.main h2 {
  color: #0000A0;
	font-size: 20px;
	font-family: 'Quicksand';
}

.main p {
  color: #FFF;
  font-family: 'Quicksand', sans-serif;
}

.main .btn {
  background-color: #1c1c1c;
  color: #0000A0;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
}
